footer.footer
  .footer__logo 
    img(src='/img/footer-logo.png' alt='Xperience logo')
    
  ul.footer__nav
    li: a(href='#') About us 
    li: a(href='#') Download apps 
    li: a(href='#') Become a guide 
    li: a(href='#') Careers 
    li: a(href='#') Contact
    
  p.footer__copyright &copy; Built using the custom Xperience application engine framework, based on the Node.js architecture course, with my own modifications and extensions. All rights reserved.
