extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Credentials Override Portal 🛡️
      p.card__text(style="font-size: 1.5rem; margin-bottom: 3rem; color: var(--color-text-muted);")
        | Provide your brand-new system password credentials configuration layout. This will instantly replace your old database Bcrypt hash block.
      
      //- 🔄 Secure token delivery dataset parameters
      form.form.form--reset-password(data-token=token)
        .form__group
          label.form__label(for='password') New Secure Password
          input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
          
        .form__group.ma-bt-md
          label.form__label(for='password-confirm') Confirm New Password
          input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
          
        .form__group(style="margin-top: 4rem;")
          button.btn.btn--green.btn--save-password Commit Override changes
